*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/*Header*/
.header-nav{
    width: 100%;
    height: 20rem;
    background-color:rgb(240, 219, 36);
    font-size: 6rem;
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
}
.header-nav__listado{
    display: inline-flex;
}
.header-nav__listado li{
    padding-top: 6rem;
    padding-left: 16rem;
    padding-right: 16rem;
    list-style: none;
}
.header-nav__listado a{
    text-decoration: none;
    color: black;
}

.header-imagen{
    width: 100%;
    height: 200rem;
    outline: solid black 0.1rem;
}
.header-imagen img{
    width: inherit;
    height: inherit;
    min-width: 200rem;
    object-fit: cover;
}
/*Animacion Header*/
.header-nav__listado li:hover{
    background-color: rgb(73, 83, 126);
    transition: 2s;
    cursor: pointer;
}
/*Main*/
.main{
    position: relative;
    width: 100%;
    height: 800rem;
}
.main-contenido{
    position: absolute;
    width: 35%;
    height: 500rem;
}
.main-aside{
    position: absolute;
    display: inline-block;
    right: 0;
    width: 65%;
    height: 580rem;
}
/*Nav section*/
.main-contenido__nav{
    position: sticky;
    margin-top: 20rem;
    top: 20rem;
    margin-left: 64rem;
    width: 50%;
    height: 150rem;
    background-color: rgb(84, 101, 130);
    outline: solid black 0.1rem;
}
#lista{
    list-style: none;
}
.main-contenido a{
    text-decoration: none;
}
.main-contenido__nav h1{
    font-size: 10rem;
    padding-top: 4rem;
    text-align: center;
    font-family: sans-serif;
}
.main-contenido__nav li{
    font-size: 10rem;
    margin: 10rem;
}
.main-aside h1{
    font-size: 12rem;
    margin-top: 35rem;
    font-family: Arial;
    margin-left: 18rem;
}
.main-aside p{
    font-size: 7rem;
    margin-top: 6rem;
    padding-top: 4rem;
    margin-left: 8rem;
}
.Articulo-2{
    margin-top: 20rem;
}
.Articulo-3{
    margin-top: 20rem;

}
.Articulo-4{
    margin-top: 20rem;
}
.main-aside__imagen{
    width: 100%;
    height: 200rem;
    margin-top: 30rem;
}
.main-aside__imagen img{
    width: 150rem;
    height: 200rem;
    margin-left: 35%;
    object-fit:fill;
    object-position: center;
}
