*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.header-nav{
    width: 100%;
    height: 20rem;
    background-color: khaki;
    font-size: 5rem;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
}
.header-nav__listado{
    display: inline-flex;
    margin: 7rem;
}
.header-nav__listado li{
    padding-left: 12rem;
    padding-right: 12rem;
    list-style: none;
}
.header-imagen{
    width: 100%;
    height: 100%;
}


