*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
/*Header*/
.header-nav{
    width: 100%;
    height: 20rem;
    background-color:rgb(240, 219, 36);
    font-size: 6rem;
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
}
.header-nav__listado{
    display: inline-flex;
}
.header-nav__listado li{
    padding-top: 6rem;
    padding-left: 16rem;
    padding-right: 16rem;
    list-style: none;
}
.header-nav__listado a{
    text-decoration: none;
    color: black;
}

.header-imagen{
    width: 100%;
    height: 200rem;
    outline: solid black 0.1rem;
}
.header-imagen img{
    width: inherit;
    height: inherit;
    min-width: 200rem;
    object-fit: cover;
}
/*Animacion Header*/
.header-nav__listado li:hover{
    background-color: rgb(73, 83, 126);
    transition: 2s;
    cursor: pointer;
}
/*Main*/
.


